.carousel-container {
    height: 600px;
   
    overflow: hidden;
    
    .carousel {
        div {
            background-color: #e0e0e0;
            img {
                display: block;
                margin: auto;
                height: 600px;
                
            }
 

        }
    }
}